<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">


        <activity
            android:name="RoomDbWithMVVM.View.ShowRDbDataActivity"
            android:exported="false"
            android:theme="@style/RDbAppTheme" />
        <activity
            android:name="SqlDbWIthMvvm.View.ShowDataActvity2"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".imagefromgallery"
            android:exported="false" />
        <activity
            android:name="SqliteDatabase.ShowDataActvity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="SqliteDatabase.SqlActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MusicActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name="Folder2.BroadCastReceiverActvity"
            android:exported="false" />
        <activity
            android:name="RoomDbWithMVVM.View.SaveDataActivity"
            android:exported="true"
            android:theme="@style/RDbAppTheme" />
        <activity
            android:name="RoomDbWithMVVMWithLayers.UI.View.ShowRDbDataActivity"
            android:exported="true"
            android:theme="@style/RDbAppTheme" />
        <activity
            android:name="RoomDbWithMVVMWithLayers.UI.View.SaveDataActivity"
            android:exported="true"
            android:theme="@style/RDbAppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name="NavigationDrawerFolder.NavigationActivity"
            android:exported="false" />
        <activity
            android:name="SqlDbWIthMvvm.View.SqlActivity2"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelloApp" />

        <service android:name=".MusicService" /> <!-- <receiver -->
        <!-- android:name=".Broadcastreceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BATTERY_LOW" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name="Folder2.MyForgroundService"
            android:exported="true" />

        <receiver
            android:name="Folder2.AppInstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>